Datatypes
--
>int - Plain integer

>float - Floating point number

>complex - Complex no, Real and Imaginary part

>boolean - True and False

>sequence - string, list, tuple

>mapping - Dictionary

>set - unordered collection of distinct objects

>file - used to make file system objects

In [ ]:
real+i(imaginary)

In [28]:
a = 3-4j

In [34]:
a.

-4.0

In [4]:
a = 1 # assignment operator

In [5]:
type(a)

int

In [7]:
a = '2'

In [8]:
type(a)

str

In [ ]:
str>float>int>boolean

In [12]:
type(float(True)) #----Type casting

float

In [14]:
type(float('3.2'))

float

In [15]:
float('3.2')

3.2

In [16]:
float("asdf")

ValueError: could not convert string to float: 'asdf'

In [22]:
int(float('3.2'))

3

In [36]:
a = 2
b = 3

In [38]:
print(a+b)
print(a-b)
print(a/b)
print(a*b)

5
-1
0.6666666666666666
6

In [39]:
# modular - Remainder -comments
%- mod function(remainder)
// - integral division(after division provides integer part)

2

In [68]:
a = 'ASHUTOSH'

In [60]:
a[]

'ASHUTOSH'

In [65]:
a = 'eating'
a[-3:]

'ing'

In [66]:
b = "SHARMA"

In [70]:
print(a+" "+b) #concatenating

ASHUTOSH SHARMA

In [81]:
d = a+" "+b

In [82]:
d

'ASHUTOSH SHARMA'

In [ ]:
path1+path2+path3

In [76]:
a.title()

'Ashutosh'

In [74]:
c = 'ashutosh'

In [75]:
c.upper()

'ASHUTOSH'

In [80]:
a.index("H")

2

In [86]:
d.split(sep = 'H',maxsplit = 2)

['AS', 'UTOS', ' SHARMA']

In [89]:
z.

'ASHU'

In [87]:
z = "    ASHU   "

In [88]:
z

'    ASHU   '

In [37]:
a

2

Typecasting
--

In [ ]:
# String/float to int
x = int('2017')

In [1]:
x = 12

In [5]:
x+1

13

In [ ]:
x = 12

In [7]:
x = x-1

In [15]:
abc = (1,4,3,'brave','fast', 1.4)

In [19]:
abc = False

In [27]:
a = [1,2,3]

In [34]:
a = {1,2,3,4,4,5,6,6}

In [43]:
a = {'abc' : 1240, 'rest' : 'a value', 'hi' :'another value', 'abcd' : 1}

In [48]:
a.values()

dict_values([1240, 'a value', 'another value', 1])

In [31]:
a.append('abc')

In [ ]:
int(12.4)->'12'

In [63]:
astring = 'ram is '
nvar = str(12)
another = ' years old'

In [67]:
board = astring +nvar+ another

In [73]:
board.lower()

'ram is 12 years old'

In [71]:
dir(board)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [76]:
board = 'ram_is_12_years_old'

In [79]:
board.split()

['ram_is_12_years_old']

In [ ]:
type('2017')

In [ ]:
int(3.12365615165)

In [ ]:
# type your code here
int(float('2017.323'))

In [ ]:
# String/int to float
float('12.5')

In [ ]:
float(4)

In [ ]:
# int, float, list, tuple, dictionary to string
Note: [] is for list
() is for tuple
str(3.122)

In [9]:
l = (10, 2.123,"Darshan",2+3j,True)
print(l)
print(type(l))
print(l[0])
print(l[-2])

(10, 2.123, 'Darshan', (2+3j), True)
<class 'tuple'>
10
(2+3j)

In [10]:
str( [1,2,3,4] )

'[1, 2, 3, 4]'

In [12]:
# string, tuple, dict to list
list(l)

[10, 2.123, 'Darshan', (2+3j), True]

In [13]:
list( (1,2,3,4) )

[1, 2, 3, 4]

In [14]:
# string, list to tuple
# type your code here
tuple("Darshan")

('D', 'a', 'r', 's', 'h', 'a', 'n')

In [15]:
tuple([1,2,3,4])

(1, 2, 3, 4)

Operators
--

>Arithmetic: + - * / %
>// Floor Division
>** exponentiation

>Relational: < <= > >= != ==

>Logical: and or not

>Bitwise: & | ^ ~ << >>

>Membership: in, not in

>Identity: is,is not

In [16]:
print(2+3)
print(3-2)
print(2*3)
print(6/4)
print(6//4)
print(6%4)
print(2**3)

5
1
6
1.5
1
2
8

In [17]:
print(2<3)
print(3<=3)
print(3<=4)
print(3<=2)
print(3==3)
print(4==3)
print(4!=3)
print(3!=3)

True
True
True
False
True
False
True
False

In [18]:
2<3 and 2>3

False

In [ ]:
# type your code here

In [19]:
s=True
t=False
print(s and t )
print(not(s))

False
False

In [20]:
# type your code here

6

In [ ]:
0+1=1
1+0=1
0+0=0
1+1=0 carry = 1

In [21]:
s=2 
t=4 
res=0
print(s&t)
print(s|t)
print(s^t)
print(s>>1)
print(s<<1)

0
6
6
1
4

In [22]:
s = "Darshan"
print("D" in s) #1
print("s" in s)
print("d" in s)
print("D" not in s)
print("d" not in s)

True
True
False
False
True

In [23]:
l = [1,2,3,4,5]
3 in l

True

In [ ]:
2 _ _ _

In [25]:
a = 2
b = 2
print(id(a))
print(id(b))
print(a is b)
b = 25
print(id(a))
print(id(b))
print(a is b)

9789024
9789024
True
9789024
9789760
False

In [26]:
a is not b

True

Looping Statements:
    --

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
n = [1,2,3,4,5,7,8,9,10]
for i in range(len(n)):
    print(n[i])
print("Out of for loop")

1
2
3
4
5
7
8
9
10
Out of for loop

In [5]:
# type your code here
names = ["Darshan", "Coach", "Board Infinity"]
for i in names:
    print(i,end='\n')

Darshan
Coach
Board Infinity

In [6]:
# type your code here
s = "Machine Learning"
for i in s:
    print(i,end="_")

M_a_c_h_i_n_e_ _L_e_a_r_n_i_n_g_

range function:
--

>range(5): It goes from 0 to 4 to generate a sequence of numbers

>range(start, stop, stepsize): Default stepsize is 1

In [ ]:
range(5)

In [7]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [8]:
for i in range(2,5):
    print(i,end=" ")

2 3 4

In [9]:
for i in range(2,10):
    print(i,end=" ")

2 3 4 5 6 7 8 9

In [10]:
for i in range(2,10,2):
    print(i,end=" ")

2 4 6 8

In [11]:
for i in range(2,15,3):
    print(i,end=" ")

2 5 8 11 14

In [12]:
# Program to display sum of numbers
# type your code here

sum=0
for i in range(5):
    sum = sum + i
print("Sum= ",sum)

Sum=  10

In [13]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

while loop:

SYNTAX:

initialization
while condition:
    do this
    do this
    increment/decrement

In [14]:
# while
i=1
while i<=5:
    print(i)
    i = i+1 # i++ doesnt exist in python

1
2
3
4
5

In [15]:
s = "Machine Learning"
i=0
while i<len(s):
    d =s[i]
    print(d)
    i=i+1

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

In [18]:
for i in range(1):
    print('*')

*

In [22]:
# Nested for

for i in range(5):
    for j in range(5-i):
        print("*",end = " ")
    print("\n")

* * * * *

* * * *

* * *

* *

*

Conditional execution
--

In [23]:
x=-5
if x>0:
    print(x)
    print("Hi Darshan")
print("Out of if statement")

Out of if statement

In [ ]:
1-6 | >20 & even 'wierd'
else 'Not wierd'

In [35]:
i=22
if i%2==0 & (1<i<6 or i>20):
    print('wierd')
else:
    print('not wierd')

wierd

In [25]:
1<i<6
if i in [1,2,3,4,5,6]:
    print('something')

4

In [ ]:
x=5
if x%2==0:
    print(x," is even")
else:
    print(x," is odd")
print("Finally I got it predicted as an EVEN or ODD Number")

In [ ]:
x=2
if x<0:
    print(x)

In [ ]:
# if statement
x = 40
if x>35:
    print(x,"is greater that 35")
else:
    print(x,"is less than or equal to 35")

In [ ]:
# Chained Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

In [ ]:
# Nested Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
else:
    if x<35:
        print(x,"is less than 35")
    else:
        print(x,"is equal to 35")

In [ ]:
# Nested Conditionals
x = 35
if x<35:
    if x==35:
        print(x,"is equal to 35")
    else:
        print(x,"is less than 35")
else:
    print(x,"is greater than 35")

If there is an else clause, it has to be at the end, but there doesnt have to be one.

In [36]:
# break
# It is used to break the current loop.
n = [1,2,3,4,5]
for i in n:
    if(i==4):
        break
    else:
        print(i)

1
2
3

In [39]:
# continue
# It is used to skip the current iteration.

n = [1,2,3,4,5]
for i in n:
    if(i==4):
        pass
    else:
        print(i)

1
2
3
5

In [38]:
# continue
# It is used to skip the current iteration.

n = [1,2,3,4,5,6,4,7,8,4,9,10,4,555,4,6,7,5,32,5,2,1,4,5,6,99,100,5,66]
for i in n:
    if(i==4 or i==5):
        continue
    else:
        print(i,end=", ")

1, 2, 3, 6, 7, 8, 9, 10, 555, 6, 7, 32, 2, 1, 6, 99, 100, 66,