Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [9]:
import copy

In [1]:
a = [1,12,12,14,15,16,17]
hash : a:[11223,21234315,335245,4531523,513523,12345]
b = a

In [3]:
val1 = 12

In [14]:
val2 = [1,12,12,14,15,16,17]

In [15]:
val3 = copy.deepcopy(val2)

In [16]:
id(val3)==id(val2)

False

In [2]:
a = [1,2,3,4,5]
b=a
b.append(12) # shallow copy
print(a)

[1, 2, 3, 4, 5, 12]

list = 
1. it is set of address of objects
2. it can keep any kind of data type in itself
3. its is iterable
4. it is mutable

In [1]:
# empty list
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [ ]:
st = [1,2,3]
print(st)

In [18]:
st = [1,22.33,"Machine",2+3j,False]
print(st)
print(type(st))

[1, 22.33, 'Machine', (2+3j), False]
<class 'list'>

In [30]:
a = [10,12,13,14,15,16,10]
a[1]

12

In [32]:
id(a[0])

2833292788240

In [ ]:
r = 10
r = 11

In [33]:
id(a[-1])

2833292788240

In [29]:
# list slicing
a[::3]

[10, 14]

In [ ]:
l = [10,20,30,40,50,60]
# Indexing
print(l)
print(l[3])
print(l[5])
print(l[-1])
print(l[-5])
# Slicing
print(l[1:5])
print(l[3:])
print(l[:4])
print(l[-5:-1])

In [2]:
l = (10,20,30,40,50,60)
# Indexing
print(l)
print(l[3])
print(l[5])
print(l[-1])
print(l[-5])
# Slicing
print(l[1:5])
print(l[3:])
print(l[:4])
print(l[-5:-1])

(10, 20, 30, 40, 50, 60)
40
60
60
20
(20, 30, 40, 50)
(40, 50, 60)
(10, 20, 30, 40)
(20, 30, 40, 50)

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [19]:
l

(10, 20, 30, 40, 50, 60)

In [14]:
st = ['A','B','C','D','E']

In [11]:
st

['A', 'B', 'C', 'D', 'E']

In [2]:
st = ['A','B','C','D','E']
print(st)
print(st[0])
st[0]=999
print(st)
print(st[0])

['A', 'B', 'C', 'D', 'E']
A
[999, 'B', 'C', 'D', 'E']
999

In [34]:
a

[10, 12, 13, 14, 15, 16, 10]

In [40]:
a.append(b)

In [41]:
a

[10, 12, 13, 14, 15, 16, 10, 11, 11, [23, 24, 25]]

In [39]:
b = [23,24,25]

In [48]:
a=a+b

In [49]:
a

[10,
 12,
 13,
 14,
 15,
 16,
 10,
 11,
 11,
 [23, 24, 25],
 23,
 24,
 25,
 23,
 24,
 25,
 23,
 24,
 25]

In [65]:
a.remove('this')

In [51]:
a

[10, 12, 13, 14, 15, 16, 10, 11, 11, 23, 24, 25, 23, 24, 25, 23, 24, 25]

[12, 13, 14, 15, 16, 10, 11, 11, 23, 24, 25, 23, 24, 25, 23, 24, 25]

In [56]:
a.pop(4)

16

In [59]:
a.insert(3,'this')

In [61]:
a.reverse()

In [64]:
a

[10, 11, 11, 15, 23, 23, 23, 24, 24, 24, 25, 25, 'this', 14, 13, 12]

In [66]:
a.sort()

In [67]:
a

[10, 11, 11, 12, 13, 14, 15, 23, 23, 23, 24, 24, 24, 25, 25]

In [69]:
a.index(11,a.index(11)+1)

2

In [ ]:
get_dup_index(a,11)

In [84]:
a = [str(i)+'even' if i%2==0 else str(i)+'odd' for i in range(200) ]

In [85]:
a

['0even',
 '1odd',
 '2even',
 '3odd',
 '4even',
 '5odd',
 '6even',
 '7odd',
 '8even',
 '9odd',
 '10even',
 '11odd',
 '12even',
 '13odd',
 '14even',
 '15odd',
 '16even',
 '17odd',
 '18even',
 '19odd',
 '20even',
 '21odd',
 '22even',
 '23odd',
 '24even',
 '25odd',
 '26even',
 '27odd',
 '28even',
 '29odd',
 '30even',
 '31odd',
 '32even',
 '33odd',
 '34even',
 '35odd',
 '36even',
 '37odd',
 '38even',
 '39odd',
 '40even',
 '41odd',
 '42even',
 '43odd',
 '44even',
 '45odd',
 '46even',
 '47odd',
 '48even',
 '49odd',
 '50even',
 '51odd',
 '52even',
 '53odd',
 '54even',
 '55odd',
 '56even',
 '57odd',
 '58even',
 '59odd',
 '60even',
 '61odd',
 '62even',
 '63odd',
 '64even',
 '65odd',
 '66even',
 '67odd',
 '68even',
 '69odd',
 '70even',
 '71odd',
 '72even',
 '73odd',
 '74even',
 '75odd',
 '76even',
 '77odd',
 '78even',
 '79odd',
 '80even',
 '81odd',
 '82even',
 '83odd',
 '84even',
 '85odd',
 '86even',
 '87odd',
 '88even',
 '89odd',
 '90even',
 '91odd',
 '92even',
 '93odd',
 '94even',
 '95odd',
 '96even',
 '97odd',
 '98even',
 '99odd',
 '100even',
 '101odd',
 '102even',
 '103odd',
 '104even',
 '105odd',
 '106even',
 '107odd',
 '108even',
 '109odd',
 '110even',
 '111odd',
 '112even',
 '113odd',
 '114even',
 '115odd',
 '116even',
 '117odd',
 '118even',
 '119odd',
 '120even',
 '121odd',
 '122even',
 '123odd',
 '124even',
 '125odd',
 '126even',
 '127odd',
 '128even',
 '129odd',
 '130even',
 '131odd',
 '132even',
 '133odd',
 '134even',
 '135odd',
 '136even',
 '137odd',
 '138even',
 '139odd',
 '140even',
 '141odd',
 '142even',
 '143odd',
 '144even',
 '145odd',
 '146even',
 '147odd',
 '148even',
 '149odd',
 '150even',
 '151odd',
 '152even',
 '153odd',
 '154even',
 '155odd',
 '156even',
 '157odd',
 '158even',
 '159odd',
 '160even',
 '161odd',
 '162even',
 '163odd',
 '164even',
 '165odd',
 '166even',
 '167odd',
 '168even',
 '169odd',
 '170even',
 '171odd',
 '172even',
 '173odd',
 '174even',
 '175odd',
 '176even',
 '177odd',
 '178even',
 '179odd',
 '180even',
 '181odd',
 '182even',
 '183odd',
 '184even',
 '185odd',
 '186even',
 '187odd',
 '188even',
 '189odd',
 '190even',
 '191odd',
 '192even',
 '193odd',
 '194even',
 '195odd',
 '196even',
 '197odd',
 '198even',
 '199odd']

In [21]:
st.append('F')

In [27]:
dt = [1,2,3,4]

In [31]:
st.extend(dt)

In [ ]:
a.remove()

In [41]:
st.remove([1,2,3,4])
st.pop()

In [49]:
a_list = [1,2,3,4,(6,7,8,9),[5,4,6,3,{21,34,56,67}]]

In [55]:
list(a_list[-1][-1])[1]

34

In [3]:
# Tuples are immutable i.e. FIXED
st = ('A','B','C','D','E')
print(st)
print(st[0])
st[0]=999
print(st)
print(st[0])

('A', 'B', 'C', 'D', 'E')
A

TypeError: 'tuple' object does not support item assignment

In [ ]:
['ledder','scisor','table']
('ledder','scisor','table')

In [5]:
fidget = ('ab',[1,2,3,4,[12,13,14,15,('a','b')]],'xy',{'abc':1,'cdf':12})

In [7]:
fidget[1][4][4][1]

'b'

In [ ]:
# List of lists
l=[1,2,[100,200,300],31,40,50]
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

In [ ]:
# List containing tuple
l=[1,2,(100,200,300),31,40,50]
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

In [ ]:
# Tuple containing Tuple
l=(1,2,(100,200,300),31,40,50)
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

In [ ]:
# Tuple containing list
l=(1,2,[100,200,300],31,40,50)
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

In [8]:
l=[1,2,3,4,5]
print(l)
l.remove(2)
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [9]:
l=[1,2,3,4,5]
l.remove(22)
print(l)

ValueError: list.remove(x): x not in list

In [37]:
print("Hello! World..","This is python",str(12345),sep='\n', end = "\n")
print("this is second line")

Hello! World..
This is python
12345
this is second line

In [40]:
ls = [1,2,3,4,5]
print(f"Hi! Today is day number {ls}")

Hi! Today is day number [1, 2, 3, 4, 5]

In [38]:
del ls[0]

In [41]:
a = 1

In [42]:
id(a)==id(ls[0])

True

In [43]:
del a

In [44]:
rgb = (10,25,200)

[(1,'as','12/12/24'),
(2,'sh'),
(),]

[1, 2, 3, 4, 5]

In [45]:
import names

- tuples:
    1. Position Data storage.
    2. Immutable.
    3. It can store any kind of data type in it
    4. it is represented by '()'.

In [61]:
a = (1,None,3)

In [63]:
a =

(1, None, 3)

In [11]:
l=[1,2,3,4,5]
print(l)
del l[22]
print(l)

[1, 2, 3, 4, 5]

IndexError: list assignment index out of range

In [ ]:
# Concatenation
l1=[1,2,3]
l2=[11,12,13]
l1+l1

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
l1 = l[3:7]
print(l)
print(l1)

In [ ]:
l=[10,11,12.156,13.16456,177]
print(sum(l))
print(len(l))
print( sum(l)/len(l) )
print( int(sum(l)/len(l)) )
print( round((sum(l)/len(l)),2) )

Traversing a list
--

In [ ]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i in names:
    print(i,end=", ")

In [1]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]

In [4]:
for item in names:
    print(id(item))

2337148563376
2337148563440
2337148719856
2337148558320

In [9]:
list(range(2,10,2))

[2, 4, 6, 8]

In [12]:
for index,value in enumerate(names):
    print(index,value)

0 Darshan
1 Python Trainer
2 Deep Learning Trainer
3 ML Trainer

[(0, 'Darshan'),
 (1, 'Python Trainer'),
 (2, 'Deep Learning Trainer'),
 (3, 'ML Trainer')]

In [61]:
for i,j in enumerate(names):
    print(i,j)

0 Darshan
1 Python Trainer
2 Deep Learning Trainer
3 ML Trainer

In [12]:
string = 'abcdefghi'
for i,j in enumerate(string):
    print(i,j)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i

In [64]:
names=("Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer")
for i,e in enumerate(names):
    print(i,e)

0 Darshan
1 Python Trainer
2 Deep Learning Trainer
3 ML Trainer

In [13]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
len(names[0])

7

In [14]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i in range(len(names)):
    print(i)

0
1
2
3

In [17]:
string = 'a b c d e f g h'

In [20]:
names = string.split()

In [21]:
dot_names_join = " ".join(names)
dot_names_join

'a b c d e f g h'

In [22]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)

[1, 2, 3, 4, 5, 6, 7, 55, 44]
[1, 2, 3, 4, 5, 6, 7, 55]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [23]:
print(s)

[1, 2, 3, 4, 5]

In [26]:
s.pop()

4

In [28]:
s=[1,2,3,4,5,6,7,55,44]

In [29]:
s.pop(1)

2

In [32]:
l1 = [1,2,3,4]
l2 = [4,5,6,7]
l1 =l1+l2

In [33]:
l1

[1, 2, 3, 4, 4, 5, 6, 7]

In [34]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.extend([500,600,700])
print(l1)
l1.sort()
print(l1)
l1.sort(reverse=True)
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[3, 2, 999, 1, 5, 4, 777, 500, 600, 700]
[1, 2, 3, 4, 5, 500, 600, 700, 777, 999]
[999, 777, 700, 600, 500, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 500, 600, 700, 777, 999]
[]

In [42]:
a = [3, 2, 999, 1, 5, 4]
a.sort(reverse= True)
print(a)
a = [3, 2, 999, 1, 5, 4]
a.reverse()
print(a)

[999, 5, 4, 3, 2, 1]
[4, 5, 1, 999, 2, 3]

In [ ]:
# + concatenates list
l1=[1,2,3]
l2=[2,3,4]
l1+l2

In [43]:
# * means repetition
["Darshan","Ingle"]*4

['Darshan',
 'Ingle',
 'Darshan',
 'Ingle',
 'Darshan',
 'Ingle',
 'Darshan',
 'Ingle']

In [44]:
[0]*4

[0, 0, 0, 0]

In [ ]:
a = [0]*len(want)

In [45]:
# Program to all the letters from list1 that are present in list2
def dunc(list1,list2):
    for e in list1:
        if e in list2:
            print(e)
dunc("Darshan","Darknet")

D
a
r
a
n

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [46]:
# empty tuple
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [47]:
t = (1)
print(t)
print(type(t))

1
<class 'int'>

In [48]:
# Single value tuple must use a comma
# type your code here

t=(1,)
print(t)
print(type(t))
print(t[0])

(1,)
<class 'tuple'>
1

In [ ]:
t = (1,2,33.4443,5,6)
# INDEXING and SLICING
# Reefer Above

In [55]:
t1 = (1,2,3)
t2 = (4,)
t1+t2

(1, 2, 3, 4)

In [52]:
t1.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [56]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [57]:
3 in t1

True

In [58]:
len(t1)

3

In [59]:
max(t1)

3

Tuples can be used to return more than one return values.
--

In [60]:
def feed(topel):
    f1=max(topel)
    f2=min(topel)
    return (f1,f2)
z=feed((2,3,1,4,32))
print(z)

(32, 1)

In [ ]:
def feed(topel):
    f1=topel+1
    f2=topel-5
    return (f1,f2)
z=feed(2)
print(z)

In [ ]:
def var(args):
    print(args)

var(1)
var(1,55)
var(33,55,12)

Variable Length Arguments.
--

In [ ]:
def var(*args):
    print(args)

var(1)
var(1,55)
var(33,55,12)

In [ ]:
# Program to store numbers from 0 to 100 in a list
l = []
for i in range(101):
    l.append(i)
print(l)
print()
z = []
for i in l:
    if i<20 or i>40:
        z.append(i)
print(z)

In [ ]:
def mno(l):
    print(l*2)

mno( ["Darshan","Ingle"] )

In [ ]:
# + concatenation
# * repetition
t1=(1,2,3)
t2=(5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))
print(list((1,2,3,4,5,6)))

# List Comprehension

In [ ]:
# Program to store numbers from 0 to 100 in a list
l = []
for i in range(101):
    l.append(i)
print(l)

In [ ]:
# List Comprehension
l = [ i for i in range(101) ]
print(l)

In [ ]:
l = [ i for i in range(101)  ]

In [ ]:
# List Comprehension
l = [ i for i in range(101) if i%2==0 ]
print(l)

In [63]:
# List Comprehension
num = [10,20,30,40,50,60,70,80,90,100]
l = [ i if i>50 else 0 for i in num ]
print(l)

[0, 0, 0, 0, 0, 60, 70, 80, 90, 100]

In [64]:
squares = { i:i*i for i in range(11) }
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [65]:
mat = [ [i for e in range(3)] for i in range(5) ]
mat

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]

In [66]:
# List Comprehension
# Sum of all even nos from 0 to 100
sum([ i for i in range(101) if i%2==0 ])

2550

# Happy Learning

In [18]:
test = ['zad','aa','bs','ccbas']

In [23]:
test.sort(reverse=True)

In [25]:
test.reverse()

In [26]:
test

['aa', 'bs', 'ccbas', 'zad']

### Functions

In [47]:
def cal_avg(Z):
    output = sum(Z)/len(Z)
    return output

In [49]:
cal_avg([1,2,3,4,5])

3.0

In [45]:
b = [2, 3, 4, 5, 6]
c = addone(b)

[3, 4, 5, 6, 7]

In [46]:
c

- set:
    1. It cannot contain duplicates in it.
    2. it can keep any kind of data type in it except mutable objects.
    3. it is unordered.
    4. it is mutable.
    5. it is represented by '{}'.

In [102]:
a_set = {'m','a','a','b','c','d','e','f','g','h'}

In [117]:
b_set = {'a','b','c','d','e','f','g','h','x','y','z',(1,23)}

In [95]:
a_set.union(b_set)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'm', 'x', 'y', 'z'}

In [96]:
a_set.intersection(b_set)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [104]:
a_set.difference(b_set)

{'m'}

In [118]:
b_set

{(1, 23), 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'x', 'y', 'z'}

In [106]:
a_set.add('n')

In [108]:
a_set.clear()

In [109]:
a_set.

set()

In [116]:
a = {1,2,3,4,}

In [110]:
num = 14

In [111]:
mun = num

In [112]:
mun = 16

In [113]:
import  copy

In [114]:
mun = copy.deepcopy(num)

- Dict:
    1. It key-value based data type.
    2. it can keep any kind of data type in it but key should not be mutable
    3. it represented by {}.
    4. it overwrites latest duplicate key value to it's key

In [119]:
l1 = [1,[1,2,3,4],[2,3,[1,2,[6,5,67,678],3,4],5,6,7],3,4]

In [120]:
temp = []
for i in l1:
    if type(i)==type([1,2,3]):
        temp.extend(i)
    else:
        temp.append(i)

In [123]:
while type([12,12]) in list(map(type,temp)):

[int, int, int, int, int, int, int, list, int, int, int, int, int]

In [126]:
l = ['a', 'bccv', 'cafadv', 'dadvad', 'eava', 'f', 'g', 'h', 'x', 'y', 'z']
list(map(print,l))

a
bccv
cafadv
dadvad
eava
f
g
h
x
y
z

[None, None, None, None, None, None, None, None, None, None, None]

In [128]:
{'qwerty':1234,(1234,1230):12}

{'qwerty': 1234, (1234, 1230): 12}

In [136]:
a = {'a':1, 'bccv':12, 'cafadv':12, 'dadvad':654}

In [137]:
a.keys()

dict_keys(['a', 'bccv', 'cafadv', 'dadvad'])

In [138]:
a.values()

dict_values([1, 12, 12, 654])

In [139]:
a.items()

dict_items([('a', 1), ('bccv', 12), ('cafadv', 12), ('dadvad', 654)])

In [140]:
a['qewerwe']= 123456

In [141]:
a

{'a': 1, 'bccv': 12, 'cafadv': 12, 'dadvad': 654, 'qewerwe': 123456}